<ul class="social">
  <li><a href="{{ site.data.author.github }}" target="_blank"><i class="icon icon-github"></i></a></li>
  <!-- <li><a href="{{ site.data.author.twitter }}" target="_blank"><i class="icon icon-twitter"></i></a></li> -->
  <!-- <li><a href="{{ site.data.author.facebook }}" target="_blank"><i class="icon icon-facebook"></i></a></li> -->
  <li><a href="{{ site.data.author.linkedin }}" target="_blank"><i class="icon icon-linkedin"></i></a></li>
  <!-- <li><a href="{{ site.data.author.stackoverflow }}" target="_blank"><i class="icon icon-stackoverflow"></i></a></li> -->
</ul>
